<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/w77sh/Maa/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>SDUX3j5Qgzg70V7S+IpBL1aGcvpJJnu3zzPEdyoWMtk=</string>
</dict>
</plist>
